---
layout: default
title: SPB SPM Club
---

<a href="https://plus.google.com/u/0/communities/108809460896106613736" class="waves-effect waves-light btn-large join red darken-3" target="_blank">Присоединиться</a>

<div class="parallax-container">
	<div class="parallax"><img src="img/banner.png">
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="title-card">
			<div class="card-panel moto">
				<h5>SPB SPM Club <span>| Петербургский клуб менеджеров проектов в IT</span></h5>
				<p>Мы, менеджеры проектов и тимлиды из разных IT-компаний Санкт-Петербурга. <br>Каждый из нас занимается организацией разработки, внедрением или поддержкой программного обеспечения.<br>Мы регулярно встречаемся и обмениваемся нашим опытом и знаниями. Присоединяйся и ты!</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
  <h6>ВСТРЕЧИ</h6>
  <div class="divider"></div>
  <div class="row">
    {% for post in site.posts %}
    <div class="col s2">
    	<p>{{ post.date | date_to_string }}<br>
    </div>
    <div class="col s7">
    	<p><a href="{{ post.url }}">{{ post.title }}</a> <br>{{post.short_desc}} </p>
    </div>
    <div class="col s3">
    	<!--
    	<a href="#modal1" class="waves-effect waves-light btn modal-trigger" target="_blank">Регистрация</a>
    -->
    </div>
    {% endfor %}
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <a href="https://piter-united.timepad.ru/event/190010/" data-twf-placeholder="yes">Перейти к заказу билетов</a><script type="text/javascript" defer="defer" data-timepad-customized="2669" data-twf2s-event--id="190010" data-timepad-widget-v2="event_register" src="https://timepad.ru/js/tpwf/loader/min/loader.js"></script>
    </div>
    <div class="modal-footer">
      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">ОТМЕНА</a>
    </div>
  </div>
      	
  <!--
  <div class="row">
	  <div class="col s6">
		  <div class="card">
		    <div class="card-image waves-effect waves-block waves-light">
		      <img class="activator" src="images/office.jpg">
		    </div>
		    <div class="card-content">
		      <span class="card-title activator grey-text text-darken-4">Card Title <i class="mdi-navigation-more-vert right"></i></span>
		      <p><a href="#">This is a link</a></p>
		    </div>
		    <div class="card-reveal">
		      <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
		      <p>Here is some more information about this product that is only revealed once clicked on.</p>
		    </div>
		  </div>
		</div>
	</div>
  <div class="row">
  	<div>
  		{% for post in site.posts %}
    	<div class="card-panel">
      	<h5>{{ post.date | date_to_string }}</h5>
      	<p><a href="{{ post.url }}">{{ post.title }}</a></li></p>
    	</div>
    	{% endfor %}
  	</div>
	</div>
-->
</div>

